* {
  margin: 0;
  padding: 0;

  /* border: 1px solid red; */
}

body {
  font-family: "Orbitron", sans-serif;
  color: white;
  background: linear-gradient(blue, aqua);

  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  height: 8rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  color: white;
  top: 1rem;
}

.phase {
  width: 60%;
}
/* .phase-1 {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.phase-1 div {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.difficulties {
  /* display: none; */
  display: flex;
  justify-content: center;
}

.difficulties button {
  font-size: 100;
  background: none;
  border: none;
}

.buttons {
  /* display: none; */
}

.playGame {
  display: flex;
  flex-grow: 1;
  margin-bottom: 0.5rem;
  justify-content: center; 
}
.playGame a {
  font-size: 1rem;
  text-decoration: none;
  padding: 5px 9px;
  background: lime;
  border-radius: 5px;
}

.help-highscore {
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.help-highscore button {
  background: red;
}
.help-highscore a:nth-child(1) {
  font-size: 1rem;
  padding: 5px 9px;
  text-decoration: none;
  background: orange;
  border-radius: 5px;
  flex-grow: 1;
  margin-right: 0.2rem;
}
.help-highscore a:nth-child(2) {
  font-size: 1rem;
  padding: 5px 9px;
  text-decoration: none;
  background: red;
  border-radius: 5px;
  flex-grow: 1;
}

/* .instructions {
} */
.instructions .content {
    display: none;
    
    padding: 1rem;
    font-size: 1.2rem;
    background: #eee5;
}
.instructions .toggle-btn {
  position: absolute;
  bottom: 0;
  left: 0;


  margin: 0.2rem;
  padding: 0.2rem;

  width: 3rem;

  font-size: 1rem;
}
