@media screen and (max-width: 55rem) {
    .botButtons {
        display: flex;
        width: 40rem;
    }

    .easyImg, .mediumImg, .hardImg {
        max-width: 100%;
        max-height: 100%;
    }
}

@media screen and (max-width: 41.25rem) {
    .botButtons {
        display: flex;
        width: 35rem;
    }
}


@media screen and (max-width: 36rem) {
    .gameLogo {
        height: auto;
        max-width: 20rem;
    }

    .botButtons {
        display: flex;
        width: 27rem;
    }

    .adjust-span > * {
        font-size: 2.7rem;
    }

    .content h3 {
        font-size: 1.1rem;
    }
    
    .instructions .content {
        width: 17rem;
        height: 16rem;
        margin-left: -9.5rem; 
        font-size: 1.08rem;
      }
}

@media screen and (max-width: 27.625rem) {
    .botButtons {
        display: flex;
        width: 20rem;
    }

    .phase-1 div {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .botPresentation img {
          height: auto;
          width: 10rem;
      }

      .easy img {
          width: 10rem;
          height: auto;
      }
}

@media screen and (max-width: 22rem) {
    .gameLogo {
        height: auto;
        max-width: 15rem;
    }
    
    .botButtons {
        display: flex;
        width: 16rem;
    }

    .adjust-span > * {
        font-size: 1rem;
      }

    .content h3 {
        font-size: 1rem;
    }
    
    .instructions .content {
        width: 15rem;
        height: 14rem;
        margin-left: -8.5rem; 
        font-size: 0.94rem;
      }
    
    .conclusion {
        font-size: large;
    }

    .botPresentation {
        padding: 0;
        justify-content: center;
    }

    .botPresentation img {
        height: auto;
        width: 10rem;
        padding: 0;
        margin-right: 5rem;
    }

    .easy img {
        width: 10rem;
        height: auto;
        margin-left: 3rem;
    }
}