:root {
  --primary: #ff4545;
  --secondary: #a58e44;
  --dark: #333;
  --light: #eee;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  background-image: linear-gradient(to top left, #389596, #aad1d2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  margin: 0.3rem;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-family: 'Raleway', sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.phase-0 {
  display: block;
}

.phase-0 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.enterNameTitle {
  width: 15rem;
  font-size: medium;
  display: flex;
  justify-content: center;
}

.inputNameField {
  width: 15rem;
  padding: 0.5rem;
  border: none;
}

/* END OF PHASE 0 */

.phase-1 {
  display: none;
  display: flex;
  justify-content: center;
}

.phase-1 div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.botPresentation {
  padding: 0rem 10rem 0rem 0rem;
}

button {
  background: #085151;
  padding: 0.7rem;
  color: #aad1d2;
  font-size: 1rem;
  border: none;
  margin: 0.5rem;
}

button:hover {
  background: #0a6868;
  cursor: pointer;
}

.startGameButton {
  font-size: 40;
  background: none;
  border: none;
}

.botButtons button {
  display: flex;
  background: none;
  border: none;
  margin: 0;
  padding: 0.3rem;
}

.easyImg {
  display: flex;
}

/* END OF PHASE 1 */

.phase-2 {
  display: none;
}

.phase-2 .game-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 1.5rem;
  margin-top: 1rem;
  letter-spacing: 0.1rem;
  font-family: 'Raleway', sans-serif;
}

.phase-2 .player-input {
  width: 4rem;
  height: 2.5rem;
  margin: 1.5 0.5rem;
  text-align: center;
  font-size: 1.5rem;
  color: #085151;
}

.phase-2 .guessButton {
  font-size: 1.5rem;
}

.side {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-side, .bot-side {
  margin: 0.5rem;
}

.playerImg, .botImgs {
  display: none;
}

.messageFromGameManager, botGuess {
  padding: 1rem;
}

.player-guess, .bot-guess {
  font-size: 1.3rem;
}

.botIcon {
  height: 15rem;
  width: 15rem;
}

/* END OF PHASE 2 */

.phase-3 {
  display: none;
  justify-content: center;
}

/* END OF PHASE 3 */

.instructions .content {
  display: none;
  position: absolute;
  width: 24rem;
  height: 23rem;
  top: 50%;
  margin-top: -11.5rem;
  left: 50%;
  margin-left: -12rem;
  padding: 1rem;
  font-size: 1.5rem;
  background: #aad1d2e2;
  color: #0a6868;
}

.instructions .toggle-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0.2rem;
  padding: 0.2rem;
  font-size: 1rem;
}
